@import url("https://fonts.googleapis.com/css?family=Inconsolata");

/* Color Palette
    #54B4C4
    #C46F5E
    #784940
    #785F28
    #C49F4B
*/
body {
    background-color: #d09d36;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.heading {
    color: white;
    font-family: "Inconsolata";
    font-size: 70px;
}

.DLRG {
    position: absolute;
    top: 200px;
    left: 50vw;
    background: url(DLRG_Flagge.png) no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vh;
    cursor: pointer;
    z-index: 1;
}

.ocean {
    height: 5vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #015871;
    z-index: -1;
}

.wave {
    background: url(wave.svg) repeat-x;
    position: absolute;
    top: 4vh;
    width: 100vw;
    height: 20vh;
    max-height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0) rotate(180deg) translateZ(0);
}
.swell {
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1600px;
    }
}

@keyframes swell {
    0%,
    100% {
        transform: translate3d(0, -25px, 0) rotate(180deg);
    }
    50% {
        transform: translate3d(0, 5px, 0) rotate(180deg);
    }
}
