@import url("https://fonts.googleapis.com/css?family=Inconsolata");

/* Color Palette
    #54B4C4
    #C46F5E
    #784940
    #785F28
    #C49F4B
*/

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    z-index: 3;
}

.heading {
    color: white;
    font-family: "Inconsolata";
    font-size: 70px;
    z-index: 1;
}

.ocean {
    min-height: 600px;
    height: 600px;
    height: 90vh;
    width: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #015871;
    z-index: 1;
}

.buoy {
    position: absolute;
    top: 150px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.7;
}

.buoy.left {
    left: calc(25vw - 25px);
}

.buoy.middle {
    left: calc(50vw - 25px);
}

.buoy.right {
    left: calc(75vw - 25px);
}

.wave {
    background: url(wave.svg) repeat-x;
    position: absolute;
    top: 600px;
    top: max(89.5vh, 580px);
    width: 100%;
    width: 100vw;
    height: 20%;
    height: 20vh;
    min-height: 140px;
    max-height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0) rotate(180deg) translateZ(0);
    z-index: 2;
}
.swell {
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1600px;
    }
}

@keyframes swell {
    0%,
    100% {
        transform: translate3d(0, -25px, 0) rotate(180deg);
    }
    50% {
        transform: translate3d(0, 5px, 0) rotate(180deg);
    }
}

.beach {
    height: 400px;
    height: 50vh;
    left: 0px;
    min-height: 400px;
    width: 100%;
    width: 100vw;
    background-color: #d09d36;
    position: absolute;
    top: 600px;
    top: max(90vh, 600px);
    z-index: 0;
}

.DLRG {
    position: absolute;
    top: 144px;
    top: max(20vh, 144px);
    left: 10%;
    left: 10vw;
    background: url(DLRG_Flagge_2.png) no-repeat;
    background-size: contain;
    width: 10%;
    width: 10vw;
    height: 10%;
    height: 10vh;
    min-height: 65px;
    cursor: pointer;
    z-index: 1;
}

.DLRG_RIGHT {
    position: absolute;
    top: 144px;
    top: max(20vh, 144px);
    right: 10%;
    right: 10vw;
    background: url(DLRG_Flagge_2.png) no-repeat;
    background-size: contain;
    width: 10%;
    width: 10vw;
    height: 10%;
    height: 10vh;
    min-height: 65px;
    cursor: pointer;
    z-index: 1;
}

.board {
    position: absolute;
    top: 144px;
    top: max(20vh, 144px);
    right: 40%;
    right: 40vw;
    background: url(board.png) no-repeat;
    background-size: contain;
    width: 3%;
    width: 3vw;
    height: 18%;
    height: 18vh;
    min-height: 65px;
    cursor: pointer;
    z-index: 1;
}

.grass-beach {
    background-image: linear-gradient(#d09d36, rgb(65, 152, 10));
    height: 10%;
    height: 10vh;
    min-height: 70px;
    width: 100%;
    width: 100vw;
    position: absolute;
    top: 1000px;
    top: max(139.5vh, 1000px);
    left: 0px;
}

.grass {
    background-color: rgb(65, 152, 10);
    width: 100%;
    width: 100vw;
    height: 40%;
    height: 40vh;
    min-height: 300px;
    position: absolute;
    top: 1068px;
    top: max(148vh, 1068px);
    left: 0px;
}
