@import url("https://fonts.googleapis.com/css?family=Inconsolata");

/* Color Palette
    #54B4C4
    #C46F5E
    #784940
    #785F28
    #C49F4B
*/
body {
    background-color: #d09d36;
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    color: white;
    font-family: "Inconsolata";
    font-size: 70px;
}

.wip {
    color: #784940;
}

.DLRG {
    position: absolute;
    top: 10vh;
    left: 50vw;
    background: url(DLRG_Flagge.png) no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vh;
    cursor: pointer;
}
